<include file="Public/header"/>
	<div class="mui-content">
	    <ul class="mui-table-view Recharge-record-list">
	    	<if condition="$list neq '' ">
	    		<volist name="list" id="list">
	            <li class="mui-table-view-cell">
	                <a class="mui-navigate-right" href="{:U('Charge/now_charge')}?order_sn={$list['order_sn']}">
	                	<div class="mui-clearfix">
		                	<h5 class="mui-pull-left">{$list['address']}<span style="margin-left: 10px;">插座{$list['number']}</span></h5>
		                </div>
		                <div class="mui-clearfix">
		                	<div class="mui-pull-left">
		                		<p class="Charge-record-number">
		                			<i class="icon-chongdian"></i>充电功率：<span>{$list['power']}w</span>
		                		</p>
		                		<p class="Charge-record-number">
		                			<i class="icon-shizhong"></i>剩余时间（h）： <span>{$list['time']}</span>
		                		</p>
		                	</div>
		                </div>
	                </a>
	            </li>
	        	</volist>
	        <else />
                <div class="No-position-box"></div>
                <div class="No-position-btn">
                    <a href="{:U('Users/users')}">返回个人中心</a>
                </div>
            </if>            
        </ul>
	</div>
<include file="Public/footer"/>