<!--datagrid列表-->
<table id="{:html_id('datagrid')}" data-menu="#{:html_id('datagrid-menu')}" data-toolbar="#{:html_id('datagrid-toolbar')}" data-title="{$title}" data-url="{:U(CONTROLLER_NAME . '/' . ACTION_NAME, array('grid'=>'datagrid'))}">
	<thead>
		<tr>
			<th data-options="field:'charge_name',width:200,sortable:true">设备</th>
			<th data-options="field:'pay_type',width:60,sortable:true">支付状态</th>
			<th data-options="field:'order_status',width:60,sortable:true">订单状态</th>
			<th data-options="field:'money',width:60,sortable:true">消费金额</th>
			<th data-options="field:'cd_time',width:60,sortable:true">充电时长</th>
			<th data-options="field:'power',width:60,sortable:true">电量(w/h)</th>
			<th data-options="field:'start_time',width:100,sortable:true">开始时间</th>
			<th data-options="field:'end_time',width:100,sortable:true">结束时间</th>
			<th data-options="field:'user_name',width:100,sortable:true">微信用户</th>
		</tr>
	</thead>
</table>

<!--工具栏-->
<div id="{:html_id('datagrid-toolbar')}">
	<!--搜索-->
	<a class="easyui-linkbutton toolbar-search" data-data="[
		{name:'用户名',field:'user_name', editor:'text',group:'其他'}
	]" data-close="true" data-group="true" data-width="400" data-height="260" iconCls="fa fa-search" plain="true">搜索</a>

	<!--操作项-->
	<foreach name="toolbars" item="li">
		<a class="easyui-linkbutton toolbar-action" data-action="{$li.a}" iconCls="{$li.icon}" plain="true" data-href="{:U($li['c'] . '/' . $li['a'] . '?' . $li['data'])}">{$li.name}</a>
	</foreach>
</div>

<!--右键菜单-->
<if condition="count($toolbars) gt 0">
	<div id="{:html_id('datagrid-menu')}" class="easyui-menu">
		<foreach name="toolbars" item="li">
			<div class="menu-action" data-action="{$li.a}" data-href="{:U($li['c'] . '/' . $li['a'] . '?' . $li['data'])}" iconCls="{$li.icon}">{$li.name}</div>
		</foreach>
	</div>
</if>

<script type="text/javascript">
	require(['order/order'], function(module){

		module.init("#{:html_id('datagrid')}");
	});
</script>