<form class="dialog-form-page">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
			<td width="80">订单号：</td>
			<td>{$info['order_sn']}</td>
		</tr>
		<tr>
			<td width="80">设备名称：</td>
			<td>{$info['charging_name']}</td>
		</tr>
		<tr>
			<td width="80">端口号：</td>
			<td>{$info['number']}</td>
		</tr>
		<tr>
			<td width="80">下单人姓名：</td>
			<td>{:json_decode($info['user_name'])}</td>
		</tr>
		<tr>
			<td width="80">订单状态：</td>
			<if condition="$info.order_status eq '1'">
				<td>待支付</td>
			<elseif condition="$info.order_status eq '2'" />
				<td>已支付</td>
			<else />
				<td>已完成</td>
			</if>
		</tr>
		<tr>
			<td width="80">支付类型：</td>
			<if condition="$info.pay_type eq '1'">
				<td>月卡支付</td>
			<elseif condition="$info.pay_type eq '2'" />
				<td>积分支付</td>
			<else />
				<td>微信支付</td>
			</if>
		</tr>
		<tr>
			<if condition="$info.pay_type eq '1'">
				<td width="80">消费月卡：</td>
				<td>1次</td>
			<elseif condition="$info.pay_type eq '2'" />
				<td width="80">消费积分：</td>
				<td>{$info['integral']}</td>
			<else />
				<td width="80">消费金额：</td>
				<td>{$info['money']}</td>
			</if>
		</tr>
		<tr>
			<td width="80">充电时长：</td>
			<td>{$info['charge_time']}小时</td>
		</tr>
		<tr>
			<td width="80">充电状态：</td>
			<if condition="$info.charge_status eq '1'">
				<td width="80">充电中</td>
			<elseif condition="$info.charge_status eq '2'" />
				<td width="80">已完成</td>
			<elseif condition="$info.charge_status eq '3'" />
				<td width="80">电池已充满</td>
			<elseif condition="$info.charge_status eq '4'" />
				<td width="80">空载(未连接电源)</td>
			<else />
				<td width="80">过载(电池功率过大)</td>
			</if>
		</tr>
		<tr>
			<td width="80">开始时间：</td>
			<td>{:date('Y-m-d H:i:s',$info['start_time'])}</td>
		</tr>
		<tr>
			<td width="80">结束时间：</td>
			<td>{:date('Y-m-d H:i:s',$info['end_time'])}</td>
		</tr>
	</table>
	<input name="info[typeid]" value="{$info.typeid}" type="hidden"/>
</form>