/* 清除默认样式 -基础*/
body{font-size:12px;}
*{padding: 0;margin:0;}
*{font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";}
.clearfix:after{
				display:block;
				content:'';
				clear:both;}
.clearfix{zoom:1;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size: 12px;}
a{text-decoration: none;color:#000;}
ul,ol{list-style: none;}
i,em{font-style: normal;}
b,strong{font-weight: normal;}
a img{border:none;}
img{vertical-align: top}
input{outline: none; border:none;}
.clearfix:after{display:block;content:'';clear: both;}
input,select{
	border:none;
	-webkit-appearance: none;
　　 background:none;
}
input:focus,input:hover,input:active,input:visited,input:link{
    outline:none;
    background:none;-webkit-tap-highlight-color: transparent;
}
a,a:focus,a:hover,a:active,a:visited,a:link{
    -webkit-tap-highlight-color: transparent;
}
