<!--datagrid列表-->
<table id="{:html_id('datagrid')}" data-menu="#{:html_id('datagrid-menu')}" data-toolbar="#{:html_id('datagrid-toolbar')}" data-title="{$title}" data-url="{:U(CONTROLLER_NAME . '/' . ACTION_NAME, array('grid'=>'datagrid'))}">
	<thead>
		<tr>
			<th data-options="field:'charge_name',width:100,sortable:true">设备</th>
			<th data-options="field:'order_status',width:100,sortable:true">支付状态</th>
			<th data-options="field:'money',width:250,sortable:true">消费金额</th>
			<th data-options="field:'charge_time',width:250,sortable:true">充电时长</th>
			<th data-options="field:'power',width:100,sortable:true">电量</th>
			<th data-options="field:'create_time',width:100,sortable:true">订单时间</th>
			<th data-options="field:'edit_time',width:100,sortable:true">操作</th>
		</tr>
	</thead>
</table>

<!--工具栏-->
<div id="{:html_id('datagrid-toolbar')}">
	<!--搜索-->
	<!--操作项-->
	<foreach name="toolbars" item="li">
		<a class="easyui-linkbutton toolbar-action" data-action="{$li.a}" iconCls="{$li.icon}" plain="true" data-href="{:U($li['c'] . '/' . $li['a'] . '?' . $li['data'])}">{$li.name}</a>
	</foreach>
	<div>
		<a class="easyui-linkbutton di1 toolbar-action iconCls="fa fa-search" plain="true""><span class="sp1">用户总数(位)</span></br><span class="sp2">{$users_count}</span></br><span class="sp3">点此查看用户统计</span></a>
		<a class="easyui-linkbutton di2 toolbar-action iconCls="fa fa-search" plain="true""><span class="sp1">订单数(次)</span></br><span class="sp2">{$orders_count}</span></br><span class="sp3">点此查看订单统计</span></a>
	</div>
	

</div>


<!--右键菜单-->
<if condition="count($toolbars) gt 0">
	<div id="{:html_id('datagrid-menu')}" class="easyui-menu">
		<foreach name="toolbars" item="li">
			<div class="menu-action" data-action="{$li.a}" data-href="{:U($li['c'] . '/' . $li['a'] . '?' . $li['data'])}" iconCls="{$li.icon}">{$li.name}</div>
		</foreach>
	</div>
</if>

<script type="text/javascript">
	require(['cduser/cduser'], function(module){

		module.init("#{:html_id('datagrid')}");
	});
</script>