<form class="dialog-form-page">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
			<td width="80">分类名称：</td>
			<td><input class="easyui-validatebox" data-options="required:true,validType:{length:[0,20]}" type="text" name="cat_name" value="{$info['cat_name']}" style="width:220px" /></td>
		</tr>
		<tr>
			<td>是否启用：</td>
			<td>
				<select class="easyui-combobox" data-options="editable:false,panelHeight:'auto'" name="delmark" style="width:230px;height:24px">
					<option value="1" <eq name="info.delmark" value="1">selected</eq>>启用</option>
					<option value="0" <eq name="info.delmark" value="0">selected</eq>>禁用</option>
				</select>
			</td>
		</tr>
	</table>
	<input name="id" value="{$info.id}" type="hidden"/>
</form>